<div class="questions-answered__item">
  <div class="questions-answered__title">
    <%= question.text %>
  </div>
  <div class="questions-answered__time">
    <%= l(question.created_at, format: :long) %>
  </div>
  <div class="questions-answered__block">
    <div class="questions-answered__text">
      <%= question.answer %>
    </div>
    <% if current_user.present? && current_user.id == question.user_id %>
      <div class="questions-answered__delete">
        <%= link_to 'Delete', question_path(question), method: :delete, class: 'asked-question--button' %>
      </div>
    <% end %>
  </div>
</div>
