<div class="ask-form">
  <div class="ask-form__title">
    <%= @question.text %>
  </div>
  <%= form_for @question do |f| %>
    <div class="ask-form__block">
      <%= f.text_area :answer, placeholder: 'What is your answer?', class: 'ask-form__area' %>
    </div>
    <%= f.submit "Answer!", class: 'ask-form__button' %>
  <% end %>
</div>
