<section class="user-login">
  <div class="user-login__title">Hey, good to see you again!</div>
  <div class="user-login__sub-title">
    Sign in to get going.
  </div>
  <div class="login-form">
    <%= form_tag sessions_path do %>
      <div class="login-form__block">
        <%= text_field_tag :email, params[:email], placeholder: "Email", class: "login-form__input" %>
      </div>
      <div class="login-form__block">
        <%= password_field_tag :password, "", placeholder: "Password", class: "login-form__input" %>
      </div>
      <div class="login-form__block">
        <%= submit_tag "Log in", class: "login-form__btn" %>
      </div>
    <% end %>
  </div>
</section>
