@mixin imgGeneration($num) {
  li:nth-child(#{$num}) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      background-size: cover;
      background-image: asset-url("menu/#{$num}.svg");
      left: 4px;
      top: 4px;
    }
  }
}

@mixin block-wrapper {
  padding: 0px;

  margin-top: 0px !important;
  margin-bottom: 0px !important;

  @include respond-to($md) {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}
