.header {
  $height: 50px;
  height: $height;
  background-color: #fff;
  color: $orange;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-weight: 700;
    font-size: 2em;
    order: 2;
  }

  &__link {
    order: 1;

    &:last-child {
      order: 3;
    }
  }

  @include respond-to($tablet) {
    @include container-create($tablet);

    justify-content: flex-start;

    &__logo {
      order: initial;
      margin-right: auto;
    }

    &__link {
      order: initial;

      &:last-child {
        order: initial;
      }
    }
  }
}

.header-container {
  @include boxShadow();
  background-color: white;
}

.header__logo--plain {
  color: $orange;

  &:hover {
    color: red;
    opacity: 0.8;
    transition: 1s;
    text-decoration: none;
  }
}

.header-fixed {
  // padding-bottom: 50px;

  @include respond-to($tablet) {
    padding-bottom: 50px;
  }
}

.header-fixed-unlogged {
  padding-bottom: 50px;
}
