.user-feed {
  padding-top: 45px;
  padding-bottom: 35px;
  color: #fff;

  background-image: asset-url("profile-bg--dark.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &__avatar {
    text-align: center;
    margin-bottom: 10px;

    &--rounded {
      border-radius: 50%;
      width: 90px;
    }
  }

  &__name {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  &__username {
    text-align: center;
    font-size: 14px;
  }

  @include respond-to($tablet) {
    @include container-create($tablet);
  }
}

.question-form {

  &__input {
    max-height: 80px;
    min-height: 20px;
    line-height: 20px;
    height: 20px;

    background: transparent;
    border: none;
    color: #2b3237;
    display: block;
    outline: 0;
    width: 100%;
  }

  &__btn {
    background-color: #FF643C;
    color: #fff;
    border: none;

    font-size: 13px;
    line-height: 16px;
    max-width: 160px;

    border-radius: 2px;
    font-weight: bold;
    padding: 9px 10px;
    cursor: pointer;

    margin-left: 15px;
    margin-bottom: 20px;
  }

  background-color: ivory;

  &__title {
    font-weight: bold;
    font-size: 16px;
    color: $black;
    padding: 15px;
  }

  @include respond-to($tablet) {
    @include container-create($tablet);
    &__container {
      margin-top: $topMargin;
    }
  }
}

.question {
  background: #fff;
  border: 1px solid #e6e6f0;
  padding: 10px;
  position: relative;
  margin: 0px 15px;
  margin-bottom: 12px;
}
