<hr>
<div class="main-page__footer">
  <span class="main-page__footer--author">Created by: <a href="https://github.com/thefaded">Daniil Pankratev</a>, using Ruby on Rails</span>
  <span class="main-page__footer--production">© AskMe 2017</span>
</div>