<div class="header-container  fixed-top">
  <div class="header-logged">
    <!-- Hamburger -->
    <div class="header-logged__hamburger">
      <button type="button" name="button" class="header-logged--btn" data-toggle="modal" data-target="#myModal">
        <span class="header-logged--img"></span>
      </button>
    </div>

    <div class="header-logged__logo">
      <%= link_to 'AskMe', root_url, class: 'header__logo--plain' %>
    </div>

    <!-- Tablet&Desktop menu -->
    <div class="header-logged__menu">
      <%= render partial: "users/nav-menu", locals: { type: :desktop } %>
    </div>
  </div>

  <!-- Mobile menu with images -->
  <div class="header-logged__mobile-menu">
    <%= render partial: "users/nav-menu", locals: { type: :mobile } %>
  </div>
</div>
<div class="header-fixed"></div>

<%= render partial: "application/modal-menu" %>
